!!! 5
%html.no-js
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

    = display_meta_tags :site => 'Clock Docker', :title => 'Clock Docker', :reverse => true

    %meta{ :name => 'description', :content => '' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }/

    = stylesheet_link_tag 'splash', :media => nil

    -# Append your own using content_for :stylesheets
    = yield :stylesheets
    = javascript_include_tag 'modernizr'
    = stylesheet_link_tag 'time_tracker'

    = csrf_meta_tag

  %body.splash#top{ data: { spy: "scroll", target: "#navbar"} }
    = render 'chromeframe'
    = render 'flashes'

    %header.affix-top{ data: { spy: "affix", "offset-top": 10 } }
      = navbar id: "navbar", fluid: true, position: :top, padding: 0 do
        = vertical do
          = link_to "ClockDocker", "#top"
        = horizontal do
          = nav class: 'navbar-right' do
            = link_to current_user.email, "#"
            = link_to "About", "#about"
            = link_to "Features", "#features"
            = link_to "Contact", "#contact"
            = link_to 'Sign Out', destroy_user_session_path, :method=>:delete

  %div{style: 'margin-top:100px;'}

    = yield


    -# Javascript at the bottom for fast page loading
    = render 'javascripts'